p {
    font-family: serif;
    color: darkviolet;
    padding-left: 2%;
}

a {
    color: steelblue;
}

body {
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
    background-color: springgreen;
    background: linear-gradient(#e66465, #9198e5);
    /*background-image: url()
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;*/
}

ul {
    color: darkviolet;
    font-family: serif;
    padding-left: 2%;
}

a:link {
    color: red;
}

a:visited {
    color: green;
}

a:hover {
    color: hotpink;
}

blockquote {
    width: 60%;
    margin-left: 250px;
    font-size: 160%;
    background-color: lightgray;
    border: 3px solid firebrick;
    padding: 30px;
    padding-top: 80px;
    padding-bottom: 80px;
    font-style: italic;
}

.citation {
    font-style: italic;
}

.farmer {
    border-left-color: forestgreen;
}

header:first-child {
    background-color: yellow;
    text-align: center;
}

.bad {
    color: red;
    text-transform: capitalize;
}

.good {
    color: green;
    text-transform: capitalize;
}

.pair {
    background-color: grey;
}

.impair {
    background-color: white;
}

ul {
    display: inline-block;
    flex-direction: column-reverse;
}

ul li {
    margin: 15px auto;
    padding-right: 25px;
}

ul li:nth-child(1) {
    background-image: url(https://raw.githubusercontent.com/becodeorg/bxl-hopper-1-25/master/The%20Field/3.HTML%2BCSS/0.progressive_enhancement/bien.png?token=ARNZL3J47CAJZCYGA2MT2ZS7UE5NK);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 265px;
}

ul li:nth-child(2) {
    background-image: url(https://raw.githubusercontent.com/becodeorg/bxl-hopper-1-25/master/The%20Field/3.HTML%2BCSS/0.progressive_enhancement/mal.png?token=ARNZL3MPYRS3GL3SNZGOML27UFGW2);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 250px;
}

ul li:nth-child(3) {
    background-image: url(https://raw.githubusercontent.com/becodeorg/bxl-hopper-1-25/master/The%20Field/3.HTML%2BCSS/0.progressive_enhancement/chat.png?token=ARNZL3L363I6GKO6WHJVBTC7UFHAM);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 250px;
}

.gras {
    font-weight: bold;
}

section {
    display: flexbox;
}

.notification {
    background-color: #000;
    position: absolute;
    color: #fff;
    padding: 15px 15px 15px 30px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: 7px center;
    opacity: 0.7;
    filter: alpha(opacity=70);
    vertical-align: middle;
    box-shadow: 4px 4px 4px #000;
    -webkit-box-shadow: 4px 4px 4px #000;
    -moz-box-shadow: 4px 4px 4px #000;
    position: fixed;
    bottom: 0;
    right: 0;
}

h1 {
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}

h3 {
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
}

p {
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

blockquote {
    font-family: "Open Sans";
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}

pre {
    font-family: "Open Sans";
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
}
img{
    width: 30%;
    background-color: white;
    border: 1px solid white;
    border-radius: 30px;
    display: flex; /*CENTRER*/
    margin: auto;
}
h2{
    text-align: center;
}
